* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

body {
    display: flex;
    align-items: center;
}

h2 {
    color: white;
    font-size: 2em;
    margin: .5em 0;
}

#wrapper {
    margin: auto;
    width: 100vh;
}

#jeu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.case {
    display: flex;
    align-items: center;
    justify-content: center;
}

.case img {
    width: 90%;
    height: auto;
}

.noir {
    background: url('img/square_dark.png');
    color: white;
}

.blanc {
    background: url('img/square_light.png');
    color: black;
}